.header {
    position: fixed;
    top: 0;
    left: 3px;
    right: 3px;
    height: 83px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 0.01px rgb(255, 209, 188);
    background-image: linear-gradient(to right, rgb(245, 177, 145), rgb(243, 189, 164), rgb(250, 250, 252));
    font-size: 17px;
    padding: 3px;
    overflow: hidden;
    z-index: 10;
}

.header-left-section {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.logo {
    width: 75px;
    border: solid 0.01px rgb(194, 149, 128);
}

.brand-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.brand-name {
    font-size: x-large;
    font-style: italic;

}

.brand-name-suite {
    font-style: italic;
}

.cartIcon {
    width: 65px;
}

.header-middle-section {
    padding: 7px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes change-price-fontsize {
    0% {
        font-size: x-large;
    }

    100% {

        font-size: 40px;
    }
}

.free-delivery-banner,
.price-free-delivery {
    background: linear-gradient(to right, rgb(192, 118, 84), rgb(131, 67, 37), rgb(8, 8, 24));
    -webkit-background-clip: text;
    /* For WebKit browsers like Chrome, Safari */
    background-clip: text;
    color: transparent;
    font-size: xx-large;
}

.price-free-delivery {
    animation: change-price-fontsize 4s linear infinite;
}

@media (max-width: 750px) {

    .free-delivery-banner {
        font-size: 100%;
    }

}

.searchIcon {
    width: 29px;
    border-radius: 14.5px;
    border: solid 1px rgb(235, 180, 155);
}

.searchButton {
    border: none;
    background: transparent;
}

.search-bar {
    height: 25px;
    border-radius: 12.5px;
    border: none;
    width: 50%;
}

.header-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
}

.title-cart {
    display: none;
}

.cart-link {
    position: relative;
}

.cart-quantity {
    position: absolute;
    top: 0;
    right: 35%;
    color: rgb(105, 54, 30);
    font-style: italic;
}