.menu-bar {
    position: fixed;
    top: 90px;
    right: 10px;
    left: 10px;
    height: 58px;
    color: rgb(250, 229, 215);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgb(245, 177, 145),rgb(243, 189, 164), rgb(250, 250, 252));
    font-style: italic;
    font-size: 17px;
    z-index: 10;
}

@media (max-width: 750px) {

    .home-link {
        display: none;
    }

    .menu-bar {
        font-size: 14px;
    }
}